In [2]:
import pandas as pd

In [10]:
d = {'col1': [1, 2], 'col2': [3, 4], 'col3': [[1,2], [1,1]]}
df1 = pd.DataFrame(data=d)
df2 = df.copy()
df = pd.concat([df1, df2], ignore_index=True)
df

   col1  col2    col3
0     1     3  [1, 2]
1     2     4  [1, 1]
2     1     3  [1, 2]
3     2     4  [1, 1]

In [6]:
'12345'[0:4][-1]

'4'

In [7]:
df = pd.DataFrame()

In [23]:
df = pd.read_csv("dataframe.csv")
df

,Unnamed: 0,filename,fake,quality,pt_48_mouth_raw,pt_49_mouth_raw,pt_50_mouth_raw,pt_51_mouth_raw,pt_52_mouth_raw,pt_53_mouth_raw,...,pt_7_jaw_raw,pt_8_jaw_raw,pt_9_jaw_raw,pt_10_jaw_raw,pt_11_jaw_raw,pt_12_jaw_raw,pt_13_jaw_raw,pt_14_jaw_raw,pt_15_jaw_raw,pt_16_jaw_raw
0,0,real_shulman_1080.mp4,False,1080,[130 130 129 129 129 129 128 129 129 130 131 1...,[131 131 132 132 134 134 134 134 134 134 134 1...,[132 132 132 132 132 132 132 132 132 132 134 1...,[134 134 134 135 136 137 137 137 137 136 136 1...,[134 136 137 138 136 135 134 132 131 131 132 1...,[132 130 130 129 129 129 129 127 127 128 129 1...,...,[ 40 42 44 45 50 74 109 122 123 123 123 1...,[120 118 118 118 117 117 117 117 117 117 117 1...,[111 110 109 109 108 107 107 107 108 108 109 1...,[102 101 100 98 96 95 92 89 87 86 82 ...,[86 85 85 84 82 82 81 80 80 80 79 79 79 77 75 ...,[73 72 71 71 71 69 69 67 67 67 66 66 66 65 64 ...,[68 68 67 67 66 66 64 64 63 63 61 61 61 60 59 ...,[63 63 63 63 63 63 63 63 63 61 60 60 59 58 58 ...,[59 59 58 58 58 58 58 58 57 57 57 57 56 54 54 ...,[61 57 53 50 47 44 40 37 33 31 29 26 25 22 19 ...
1,1,real_shulman_1080.mp4,False,1080,[132 134 136 136 135 134 132 132 132 131 131 1...,[134 134 135 135 135 135 135 135 135 135 134 1...,[135 135 135 135 134 134 134 132 132 132 132 1...,[134 134 134 135 136 137 137 137 137 137 136 1...,[134 134 135 137 137 137 135 134 134 131 131 1...,[135 135 134 132 131 130 129 128 127 125 124 1...,...,[ 41 43 43 44 45 46 47 52 88 118 123 1...,[122 122 121 121 121 120 120 120 120 120 118 1...,[113 111 111 110 110 110 110 111 113 114 116 1...,[100 98 96 95 93 92 89 88 85 81 78 ...,[85 85 84 82 81 81 81 81 80 80 79 78 77 75 73 ...,[74 72 71 71 70 70 70 68 68 68 67 67 66 66 65 ...,[70 70 70 68 67 67 65 65 64 64 63 61 61 60 59 ...,[61 61 61 61 61 61 61 61 61 61 61 60 60 59 58 ...,[61 61 61 61 60 57 57 56 54 53 53 53 52 52 52 ...,[61 59 54 51 47 43 40 38 33 29 26 26 28 26 28 ...

In [13]:
for x in range (0,5):
    print(x)

0
1
2
3
4

In [19]:
import collections
FACIAL_LANDMARKS_IDXS = collections.OrderedDict([
    ("mouth", (48, 68)),
    ("right_eyebrow", (17, 22)),
    ("left_eyebrow", (22, 27)),
    ("right_eye", (36, 42)),
    ("left_eye", (42, 48)),
    ("nose", (27, 35)),
    ("jaw", (0, 17))
])
for x in range(FACIAL_LANDMARKS_IDXS['mouth'][0], FACIAL_LANDMARKS_IDXS['mouth'][1]):
    print(x)

48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67

In [24]:
[[1,2,3],1].ravel()

AttributeError: 'list' object has no attribute 'ravel'